{% extends 'base_events.html '%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% if event.image %}
      <img src="{{ event.image.url }}" alt="{{ event.title }}" class="img-fluid">
      {% endif %}
    </div>
    <div class="col-md-6">
      <h2>{{ event.title }}</h2>
      <p>{{ event.description }}</p>
      <ul class="list-unstyled">
        <li><strong>Тип меропиятия:</strong> {{ event.type }}</li>
        <li><strong>Дата и время:</strong> {{ event.time }}</li>
        <li><strong>Организатор:</strong> {{ user_org.get_full_name }}</li>
        <li><strong>Адрес:</strong> {{ event.address }}</li>
      </ul>
      {% if user.is_authenticated %}
      <form action="{% url 'event_visitor' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="event_slug" value="{{ event.slug }}">
        <input type="hidden" name="assurance" value="False">
        <input type="submit" class="btn btn-primary" value="Возможно пойду"></input>
      </form>

      <form action="{% url 'event_visitor' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="event_slug" value="{{ event.slug }}">
        <input type="hidden" name="assurance" value="True">
        <input type="submit" class="btn btn-success" value="Точно пойду"></input>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}