{% extends 'base_account.html' %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ user_form.non_field_errors }}</div>
    <div class="form-error">{{ user_profile_form.non_field_errors }}</div>
    <div class="container p-3">

        {% for f in user_form %}
        <div class="form-group mb-3">
          <label for="{{ f.id_for_label }}">{{ f.label }}:</label>
          {{ f }}
        </div>
        {% endfor %}
        {% for f in user_profile_form %}
        <div class="form-group mb-3">
          <label for="{{ f.id_for_label }}">{{ f.label }}:</label>
          {{ f }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Создать</button>
    </div>

</form>

<script>
  // Add form-control class to all inputs inside form-group elements
  document.addEventListener('DOMContentLoaded', function() {
    let inputs = document.querySelectorAll('.form-group input:not([type="checkbox"]), .form-group textarea');
    for (let i = 0; i < inputs.length; i++) {
      inputs[i].classList.add('form-control');
    }
  });
</script>

{% endblock %}
